@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FS Meridian Trial", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #1e293b;
}

body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: 'FS Meridian Trial';
  src: url('../assets/FSMeridian_TRIAL/FSMeridian/FSMeridianTrial-Medium.otf');
  src: url('../assets/FSMeridian_TRIAL/FSMeridian/FSMeridianTrial-Light.otf');
  font-weight: 400;
  font-style: normal;
}
